<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Philippe FAISANDIER - M4gicalCat</title>
    <meta name="description" content="My portfolio">
    <meta name="author" content="M4gicalCat">

    <link rel="icon" href="/img/favicon.ico">
    <link rel="apple-touch-icon" href="/img/apple-touch-icon.png">
    {% block css %}
    {% endblock %}
</head>

<body>
{% block body %}
{% endblock %}
cc
{% block js %}
{% endblock %}
</body>
</html>