<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Philippe FAISANDIER - M4gicalCat</title>
    <meta name="description" content="M4gicalCat's portfolio">
    <meta name="author" content="M4gicalCat">

    <link rel="icon" href="/img/favicon.ico">
    <link rel="apple-touch-icon" href="/img/apple-touch-icon.png">
    <link rel="stylesheet" href="/styles/main.css">
    {% block css %}
    {% endblock %}
</head>

<body>
<div id="content-container">
{% block body %}
{% endblock %}
</div>
<footer>
    <div id="contact">
        <div id="contact-buttons">
            <a href="/"><button id="link-accueil">Accueil</button></a>
            <a href="contact"><button id="link-contact">Contactez-moi</button></a>
        </div>
        <span>17, rue Patte de Velours, 90850 Essert</span>
        <span>philippefaisandier@gmail.com</span>
    </div>
    <span id="copyright"></span>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

{% if window == true %}
{% endif %}
<script>
    $("#copyright").text(`© ${new Date().getFullYear()} Philippe FAISANDIER`);
</script>
{% block js %}
{% endblock %}
</body>
</html>