{% extends "index.twig" %}
{% block css %}
<link rel="stylesheet" href="/styles/page404.css">
{% endblock %}
{% block body %}
    <div id="main">
        <h1>Error 404</h1>
        <p>
            Cette page n'est pas ou plus disponible.
        </p>
        <p>
            Souhaitez vous : <span class="link pointer" id="back">Revenir en arrière</span> ou <a href="/" class="link">Retourner à l'accueil</a> ?
        </p>
    </div>
{% endblock %}

{% block js %}
<script>
    $('#back').on('click', () => {
        history.back();
    });
</script>
{% endblock %}