{% extends "index.twig" %}
{% set window = true %}
{% set windowTitle = "Error 404" %}
{% block css %}
<link rel="stylesheet" href="/styles/page404.css">
{% endblock %}
{% block body %}
    <div>
        <p>
            Cette page n'est pas ou plus disponible.
        </p>
        <p>
            Souhaitez vous : <span class="link pointer">Revenir en arrière</span> ou <a href="/" class="link">Retourner à l'accueil</a> ?
        </p>
    </div>
{% endblock %}

{% block js %}
    <script src="/scripts/page404.js" type="module"></script>
{% endblock %}