{% extends "index.twig" %}
{% block css %}
    <link rel="stylesheet" href="/styles/root.css">
{% endblock %}
{% block body %}
    <div id="head-container">
        <div class="title-container">
            <h1 id="name">Philippe FAISANDIER</h1>
            <span class="italic">Développeur web fullstack</span>
        </div>
        <div id="about-me">
            <h3>À propos de moi</h3>
            <p class="indent">
                Développeur web de {{ age }} ans, je suis très curieux et j'aime apprendre de nouvelles choses.
                J'ai commencé la programmation en première avec l'option ICN (Informatique et Création Numérique),
                pour continuer en DUT Informatique.<br>
                Cependant, je ne m'arrête pas à ça.
                Je suis en effet clarinettiste depuis mes 9 ans,
                et je joue à l'Orchestre d'Harmonie de la Ville de Belfort (OHVB).<br>
                Je fais également partie du mouvement de scoutisme des EEUdF en tant que responsable.
            <p>
        </div>
    </div>
    <div id="body-container">
        <div id="container-formation" class="container">
            <h1 id="title-formation">Ma formation</h1>
            <p class="indent">
                Actuellement en deuxième année de <strong>DUT Informatique à Belfort</strong>
                (septembre 2020 - juillet 2022), j'apprends différents langages,
                tels que le JavaScript, PHP, HTML, Java, C &#8230;.
            </p>
            <p>
                J'ai cependant découvert par moi-même (bien que renforcé par les cours) le NodeJS avec la création
                de plusieurs bots Discord, ou encore le JavaScript, dont nous avions effleuré la surface.
            </p>
            <p>
                J'apprends actuellement le VueJS, framework web similaire à React ou Angular.
                Des cours de développement Android sont aussi prévus dans le futur proche.
            </p>
            <p>
                J'ai obtenu mon baccalauréat scientifique en juillet 2020, avec l'option Mathématiques.
            </p>
        </div>

        <div id="container-competences" class="container">
            <h1 id="title-competences">Mes compétences</h1>
            <p class="indent">
                Bien que manquant d'expérience professionnelle,
                ma curiosité et ma formation m'ont apporté un certain nombre de connaissances.
            </p>
            <h3>Programmation Orientée Objet</h3>
            <p class="indent">
                J'ai appris la <strong>Programmation Orientée Objet</strong> (POO) et je l'utilise souvent,
                notamment en Java, JavaScript, TypeScript, et PHP.<br>
                L'héritage, le polymorphisme, les interfaces et les énumérations ne me sont ainsi pas étrangers.
            </p>
            <h3>Git</h3>
            <p class="indent">
                J'utilise <strong>git</strong> de façon générale avec Github,
                et nous avons utilisé l'interface de Gitlab en cours.
                Ceci rend la collaboration avec d'autres personnes sur un même projet une chose facile.
            </p>
            <h3>Méthode agile</h3>
            <p class="indent">
                La <strong>méthode agile</strong> est tout autant une méthode à connaître pour la gestion de projet,
                car bien que chronophage à mettre en place, elle montre des aspects positifs
                une fois que le projet a démarré, tels que la prévision de la date de rendu de ce dernier,
                ou encore la liberté de choix en tant que développeur de la tâche à réaliser.<br>
                Nous l'avons utilisée dans plusieurs projets, en Java ou pour une application web (NodeJS / TypeScript)
            </p>
        </div>

        <div id="container-langages" class="container">
            <h1>Langages utilisés</h1>
            <img
                 src="https://github-readme-stats.vercel.app/api/top-langs/?username=M4gicalCat&hide_border=true&locale=fr"
                 width="100%"
                 alt="">
            <p class="indent">
                Voici les statistiques de mon profil Github, à partir des projets visibles publiquement.
                Cependant, j'utilise d'autres langages en cours, tels que le Java, le C ou encore le Python,
                bien que mes connaissances restent élémentaires dans ces deux derniers langages.
                J'utilise les SGBD MySQL et PostgreSQL.
            </p>
        </div>

        <div id="container-langues" class="container">
            <h1>Langues</h1>
            <p class="indent">
                Le français est ma langue natale, et je maîtrise aussi l'anglais, autant à l'écrit qu'à l'oral.
            </p>
        </div>

        <div id="container-centre-interets" class="container">
            <h1>Mes centres d'intérêts</h1>
            <p class="indent">
                Mes principaux centres d'intérêts sont la musique et les jeux vidéos.
            </p>
            <h3>Musique</h3>
            <p class="indent">
                La musique prend une part importante dans ma vie. Je joue de la clarinette et écoute beaucoup de musique,
                notamment du métal. J'écoute les groupes Sabaton, DragonForce, Wind Rose, Majestica, et quelques autres.
            </p>
            <h3>Jeux vidéo</h3>
            <p class="indent">
                Comme beaucoup de gens de mon âge, j'apprécie jouer à des jeux vidéo,
                tels que PUBG, CS:GO ou encore Minecraft.
            </p>
        </div>

        <div id="container-experience" class="container">
            <h1>Mon expérience</h1>
            <p class="indent">
                Au cours de mes études, j'ai eu l'occasion de travailler sur plusieurs projets,
                qu'ils soient personnels ou en lien avec l'IUT.
            </p>
            <h3>Projet Tutoré "The&nbsp;Village"</h3>
            <p class="italic date-experience">septembre 2021<br>-<br>avril 2022</p>
            <p class="indent">
                Nous avons comme projet de réaliser un jeu vidéo jouable dans un navigateur web,
                mixant le jeu des Loups Garous de Thiercelieux et la façon de jouer d'Among Us.
                Nous avons pour cela un serveur NodeJS développé avec le framework ExpressJS
                doublé du langage TypeScript pour le serveur ainsi que les scripts exécutés côté client.
                Les règles du jeu restent similaires à celles des Loups Garous, mais chaque joueur
                pourra déplacer son personnage librement dans un environnement, afin d'exécuter des
                actions dans le but de faire gagner son équipe.
            </p>

            <h3>Projet personnel "portfolio"</h3>
            <p class="italic date-experience">Janvier 2022<br>-<br>Maintenant</p>
            <p class="indent">
                Ce portfolio fait partie de mes projets, car il ne s'arrête pas à un simple site
                vitrine, mais possède une interface de contrôle.
                En effet, ce projet intervient dans une période très chargée à l'IUT et un
                besoin de me sortir de ces projets à n'en plus finir s'impose.
            </p>
            <p>
                J'ai ainsi décidé que bien que je veuille volontiers coder, il fallait que je le
                fasse pour moi-même, et non pour l'IUT. Ayant depuis quelque temps une envie de
                recréer un bot Discord, je me suis dit que créer un portfolio avec un bot Discord
                me servant d'interface de contrôle pouvait être une bonne idée.
            </p>
            <p>
                J'ai ainsi un bot sur un serveur privé qui m'envoie un message dès que quelqu'un
                se connecte sur mon site, et qui dispose de commandes pour m'afficher des statistiques
                de quelles pages sont les plus visitées, à l'aide d'une base de données MySQL.
            </p>
            <p>
                Je pense que la fonctionnalité la plus intéressante de ce bot est que dès que
                le serveur rencontre une erreur, il envoie un message m'avertissant de cette
                erreur, en me mentionnant pour me permettre d'agir au plus vite le cas échéant.
            </p>

            <h3>Projet personnel "draww"</h3>
            <p class="italic date-experience">Août 2021<br>-<br>Septembre 2021</p>
            <p class="indent">
                J'ai créé une bibliothèque de dessin en JavaScript pour la première version,
                et j'ai commencé à la passer sous TypeScript pour la deuxième version.
                Le but recherché lors de ce projet était tout d'abord de créer cette bibliothèque avec
                le moins d'aide possible, alors que je m'y connaissais très peu.
            </p>
            <p>
                Le but de la deuxième version, quant à elle est de faire les choses au mieux,
                et de se familiariser avec le TypeScript, car c'était encore un langage que je découvrais.
            </p>

            <h3>Projet Tutoré "Pac&#8209;Man"</h3>
            <p class="italic date-experience">Janvier 2021<br>-<br>Juin 2021</p>
            <p class="indent">
                Nous avions le choix entre trois sujets (Tetris, Snake, Pac&#8209;Man)
                et mon groupe a choisi le Pac&#8209;Man. Pour adapter ce jeu en Java,
                nous avons utilisé l'API Swing.
            </p>
            <p>
                Suite à un mauvais management, nous avons dû le développer en une semaine.
                Malgré cette difficulté, nous avons réussi à proposer un jeu fonctionnel,
                avec quatre fantômes ayant des comportements différents et quelques bonus à ramasser.
                Le seul bug que nous rencontrons toujours à la fin de cette période de cinq jours est
                que le Pac&#8209;Man peut déborder sur le mur, mais ce n'est qu'un problème graphique.
            </p>
        </div>
    </div>

{% endblock %}

{% block js %}
{% endblock %}