body, html {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}

.link {
    color: #1487e5;
    text-decoration: underline;
}

.pointer {
    cursor: pointer;
}

.italic {
    font-style: italic;
}