body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

#content-container {
    flex: auto;
    margin: 0;
    padding: 0;
}

.link {
    color: #1487e5;
    text-decoration: underline;
}

.pointer {
    cursor: pointer;
}

.italic {
    font-style: italic;
}

footer {
    margin: 0;
    width: calc(100% - 2em);
    background-color: #00ABAB;
    flex-shrink: 0;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

#contact {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#contact-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1em;
}

#contact-buttons > a {
    display: inline-block;
    width: max-content;
    height: max-content;
}

#contact > span {
    display: block;
    margin-bottom: 0.5vh;
}

#link-contact, #link-accueil {
    padding: 10px;
    font-size: 1.2em;
    border-radius: 12px;
    border-width: 0;
    background-color: #009B9B;
    color: #EEE;
}

#copyright {
    font-size: 0.7em;
}

@media screen and (min-width: 1001px) {
    #contact > span, #copyright {
        text-align: center;
        width: 100%;
    }
}