.window {
    width: max(33vw, 500px);
    height: max(33vh, 400px);
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.screen {
    display: flex;
    flex-direction: column;
    font-size: 1.3em;
}