.dark {
  --color: #fff;
  --bg: #000;
  --link: #63aae7;
  --link-hover: #73baf7;
  --shadow-color: rgba(255, 255, 255, 0.8);
}

#theme-toggle {
  border-radius: 50%;
  width: 1em;
  height: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 1em;
  right: 1em;
  cursor: pointer;
}
#sun {
  display: none;
}
.dark #sun {
  display: block;
}
.dark #moon {
  display: none;
}

body {
  --color: #000;
  --bg: #fff;
  --link: #337ab7;
  --link-hover: #23527c;
  --shadow-color: rgba(0, 0, 0, 0.2);


  background-color: var(--bg);
  color: var(--color);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  margin: 0;
}
h1, h2 {
  text-align: center;
  width: 100%;
}
a {
  color: var(--link);
  text-decoration: none;
}
a:hover {
  color: var(--link-hover);
  text-decoration: underline;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  gap: 2em;
}

.card {
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: var(--bg);
  border-radius: 10px;
  box-shadow: 0 0 10px var(--shadow-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card h3 {
  margin: 0 0 1rem 0;
  padding: 0 1rem 1.5rem 1rem;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  border-bottom: 1px solid var(--link);
}

.card-description {
  margin: 0;
  padding: 0 0 2rem 0;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}
.card-footer {
  font-size: 10px;
}
